

body{
  background-color: black;
  color: white;
}
.app{
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

video{
  width: 80%;
}

main{
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

aside{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: end;
}

img{
  width: 300px;
  height: 200px;
}