*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > input{
    width: 40%;
    padding: 10px;
    border-radius: 10px;

}

::placeholder{
    font-size: 20px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding-top: 20px;
    background-color: cadetblue;

}

main > .card:hover{
    transform: scale(1.04);
    box-shadow: 0px 4px 6px powderblue;
}

main > .card{
    height: 250px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 3px 5px black;
    cursor: pointer;
}