.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.cont>.inner>button:hover{
    cursor: pointer;
}

.light{
    background-color: white;
    color: black;
}

.dark{
    background-color: black;
    color: white;
}